<ion-view view-title="Login" data-ng-controller="LoginController">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" data-ng-model="login.username">
            </label>
            <label class="item item-input">
                <div data-ng-init="login.password='Password1!'">
                    <input type="password" placeholder="Password" data-ng-model="login.password">
                </div>
            </label>
        </div>
        <div class="row" s>
            <div class="col">
                <button class="button button-block button-positive" data-ng-click="login()">Sign in</button>
            </div>
        </div>
        <div class="row" s>
            <div class="col">
                <span class="input-label">Forgot&nbsp;password?</span>
            </div>
            <div class="col">
                <span class="input-label" style="float:right">Join&nbsp;now</span>
            </div>
        </div>
    </ion-content>
</ion-view>