<ion-view view-title="Profile">
    <ion-content>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col">
                <b>{{ p.contact.first_name + ' ' + p.contact.middle_initial + ' ' + p.contact.last_name }}</b>
            </div>
            <div class="col">
                <b>{{ p.contact.email }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i>{{ p.summary }}</i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li data-ng-repeat="x in p.flight_hours">
                        {{ x.AIRCRAFT_NAME }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li data-ng-repeat="x in p.certifications">
                        {{ x.CERT_NAME }}
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>