<ion-view view-title="Profile">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Paharo</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col">
                <h4><b>{{ p.contact.first_name + ' ' + p.contact.middle_initial + ' ' + p.contact.last_name }}</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i>{{ p.contact.email }}</i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i>{{ p.summary }}</i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li data-ng-repeat="x in p.flight_hours">
                        {{ x.AIRCRAFT_NAME }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li data-ng-repeat="x in p.certifications">
                        {{ x.CERT_NAME }}
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>