<ion-view view-title="Settings" data-ng-controller="SettingsController">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="host" data-ng-model="params.host">
            </label>
        </div>
        <div class="row" s>
            <div class="col">
                <button class="button button-block button-positive" data-ng-click="submit()">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>