<ion-view view-title="Splash" ng-controller="SplashController">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Welcome aboard. Pilot Credentials, Where Qualified Pilots and Air Carriers Meet.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block" data-ng-click="register()">Join now</button>
            </div>
            <div class="col">
                <button class="button button-block button-positive" data-ng-click="login()">Sign in</button>
            </div>
        </div>
    </ion-content>
</ion-view>