<ion-view view-title="Certifications">
    <ion-content>
        <ul>
            <li data-ng-repeat="x in p.certifications | orderBy:'CERT_NAME'">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <span class="profile-subheader">{{ x.CERT_NAME }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">ISSUED:</span> <span class="profile-text">{{ x.ISSUED_DATE}}</span>

                        </div>
                        <div class="col">
                            <span class="profile-label">EXPIRED:</span> <span class="profile-text">{{ x.EXPIRED_DATE}}</span>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>