<ion-view view-title="Contact">
    <ion-content>
        <div class="row">
            <div class="col">
                <h4><b>{{ p.contact.first_name + ' ' + p.contact.middle_initial + ' ' + p.contact.last_name }}</b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i>{{ p.contact.email }}</i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i>{{ p.summary }}</i>
            </div>
        </div>
    </ion-content>
</ion-view>
