<ion-view view-title="Contact">
    <ion-content>
        <div class="card">
            <div class="row">
                <div class="col" style="font-size:16px">
                    <b>{{ p.contact.first_name + ' ' + p.contact.middle_initial + ' ' + p.contact.last_name }}</b>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col">
                    <span class="profile-label">EMAIL:</span> <span class="profile-text">{{ p.contact.email}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="profile-label">ALTERNATE:</span> <span class="profile-text">{{ p.contact.alternate_email}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="profile-label">PHONE 1:</span> <span class="profile-text">{{ p.contact.primary_phone}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="profile-label">PHONE 2:</span> <span class="profile-text">{{ p.contact.secondary_phone}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    &nbsp; </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="profile-label">ADDRESS:</span> <span class="profile-text">{{ p.contact.address1}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="profile-label">SECOND LINE:</span> <span class="profile-text">{{ p.contact.address2}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="profile-label">CITY/STATE/ZIP:</span> <span class="profile-text">{{ p.contact.city + ', ' + p.contact.state + ' ' + p.contact.zip}}</span>
                </div>
            </div>
    </ion-content>
</ion-view>

<!--
        "available_now_flag": "N",
        "availability_date": "01-JUL-14",
        "availability": "2014-07-01",
        "source_training": null,
        "visible": "N",
        "gender": "Male",
        "ethnicity": "Hispanic or Latino"

-->