<ion-view view-title="Flight Hours">
    <ion-content>
        <ul>
            <li data-ng-repeat="x in p.flight_hours | orderBy:'AIRCRAFT_NAME'">
                <div class="card">
                    <div class="row">
                        <div class="col" style="font-size:16px">
                            <b>{{ x.AIRCRAFT_NAME }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">PIC:</span> <span class="profile-text">{{ x.PIC_HOURS + 0 }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">SIC:</span> <span class="profile-text">{{ x.SIC_HOURS + 0 }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">INST:</span> <span class="profile-text">{{ x.INS_HOURS + 0 }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">NIGHT:</span> <span class="profile-text">{{ x.NIGHT_HOURS + 0 }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">LAST 12 MO:</span> <span class="profile-text">{{ x.LAST_12MO_HOURS + 0 }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">LANDING:</span> <span class="profile-text">{{ x.NUMBER_LANDINGS + 0 }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">LAST FLOWN:</span> <span class="profile-text">{{ x.LAST_FLOWN_DATE}}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">TYPE RATING:</span> <span class="profile-text">{{ x.CUR_TYPE_RATING}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">NOTES:</span> <span class="profile-text">{{ x.NOTES}}</span>
                        </div>
                    </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
<!--
            "LAST_FLOWN_DATE": "07-2014",
            "CUR_TYPE_RATING": "Y",
            "NOTES": "F14 Notes"
-->