<ion-view view-title="Employment">
    <ion-content>

        <div class="card dark">
            <ul>
                <li data-ng-repeat="x in p.employment_history">
                    <div class="row">
                        <div class="col">
                            Status: {{ x.STATUS}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Location: {{ x.CITY}} {{x.STATE}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>