<ion-view view-title="Employment">
    <ion-content>
        <ul>
            <li data-ng-repeat="x in p.employment_history">
                <div class="card">
                    <div class="row">
                        <div class="col" style="font-size:16px">
                            <b>{{ x.COMPANY_NAME }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">TITLE:</span> <span class="profile-text">{{ x.TITLE}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">POSITION:</span> <span class="profile-text">{{ x.DESCRIPTION}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">LOCATION:</span> <span class="profile-text">{{ x.CITY + ' ' + x.STATE + ' ' + xCOUNTRY }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">JOB TYPE:</span> <span class="profile-text">{{ x.JOB_TYPE }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">FLOWN:</span> <span class="profile-text">{{ x.PRIMARY_AIRCRAFT_FLOWN }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">MILITARY:</span> <span class="profile-text">{{ x.MILITARY_STATUS }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">STILL EMPLOYED:</span> <span class="profile-text">{{ x.CURRENT_EMPLOYER }}</span>
                        </div>
                    </div>
            </li>
        </ul>
    </ion-content>
</ion-view>