<ion-view view-title="Education">
    <ion-content>
        <div class="row">
            <div class="col">
                {{ p.education.highest_level.FORMAL_TRAINING}}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul>
                    <li data-ng-repeat="x in p.education.education_history">
                        {{ x.DEGREE }}
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>