<ion-view view-title="Education">
    <ion-content>
        <ul>
            <div class="card">
                <div class="row">
                    <div class="col">
                        <span class="profile-label">TRAINING:</span> <span class="profile-text">{{ p.education.highest_level.FORMAL_TRAINING }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="profile-label">HIGHEST:</span> <span class="profile-text">{{ p.education.highest_level.HIGHEST_EDUCATION }}</span>
                    </div>
                </div>
            </div>
            <li data-ng-repeat="x in p.education.education_history">
                <div class="card">
                    <div class="row">
                        <div class="col" style="font-size:16px">
                            <b>{{ x.SCHOOL_NAME }}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">START:</span> <span class="profile-text">{{ x.START_DATE }}</span>
                        </div>
                        <div class="col">
                            <span class="profile-label">END:</span> <span class="profile-text">{{ x.END_DATE }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">CITY:</span> <span class="profile-text">{{ x.SCHOOL_CITY }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">DEGREE:</span> <span class="profile-text">{{ x.DEGREE }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="profile-label">MAJOR:</span> <span class="profile-text">{{ x.MAJOR }}</span>
                        </div>
                    </div>
            </li>
        </ul>
    </ion-content>
</ion-view>