/* Empty. Add your own CSS if you like */

.profile-subheader {
    font-size: 17px;
    color: darkslategrey;
    font-weight: 500;
}

.profile-label {
    font-size: 10px;
    color: black;
    font-weight: 400;
}

.profile-text {
    font-family: 'Tahoma', 'Geneva', sans-serif;
    font-size: 15px;
    color: midnightblue;
    font-weight: 400;
}